html {
	margin: 0;
	padding: 0;
}
header {
	width: 100vw;
	background-color: black;
}
body {
	margin: 0;
	padding: 0;
}
.TPA {
	width: auto;
	height: 100vh;
	margin-left: 400px;
}
.grille1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.LC {
	width: 300px;
	padding-top: 20px;
	height: auto;
	grid-area: b;
}
.LE {
	width: 300px;
	height: auto;
	padding-top: 20px;
	grid-area: e;
}
.LFH {
	width: 300px;
	height: auto;
	grid-area: f;
	margin-left: -50px;
}
.LFN {
	width: 300px;
	height: auto;
	grid-area: a;
}
.LM {
	width: 300px;
	height: auto;
	padding-top: 20px;
	padding-left: 40px;
	grid-area: d;
}
.LSU {
	width: 300px;
	height: auto;
	grid-area: c;
}
.body1 {
	background-color: black;
	width: 99vw;
	height: 2000px
}
.cartetdm {
	width: 99vw;
	height: auto;
	z-index: 1;
}
.body2 {
	background-image: url(../IMG/BACKGROUND/Gold.png);
	background-attachment: fixed;
	width: 100%;
	height: 545px;
}
.txt {
	width: 99vw;
	height: auto;
}
.ligne {
	display: flex;
	flex-direction: row;
}

.submenu {
	display: none;
}
.test2:hover .submenu {
	display: flex;
	position: absolute;
	z-index: 5;
	top: 1100px;
	left: 0px;

}
.navNain1 {
	width: 150px;
	height: auto;
}
.navNain2 {
	width: 150px;
	height: auto;
}
.navNain3 {
	width: 150px;
	height: auto;
}
.navNain4 {
	width: 150px;
	height: auto;
}
.navNain5 {
	width: 150px;
	height: auto;
}
.navNain6 {
	width: 150px;
	height: auto;
}
.navNain7 {
	width: 150px;
	height: auto;
}
.submenu2 {
	display: none;
}
.test3:hover .submenu2 {
display: flex;
	position: absolute;
	z-index: 5;
	top: 1150px;
	left: 720px;
}
.navelfe1 {
	width: 150px;
	height: auto;
	margin-right: 50px;
}
.navelfe2 {
	width: 150px;
	height: auto;
	margin-right: 50px;
	margin-top: -40px;
}
.navelfe3 {
	width: 150px;
	height: auto;
	margin-right: 50px;
}
.ligne2 {
	display: flex;
	flex-direction: row;
}
footer {
	background-color: black;
	width: 100vw;
	height: 200px;
}
.imgfoot {
	width: 300px;
	height: auto;
	padding-top: 75px;
	margin-right: 50px;
}
.imgfoot2 {
	width: 120px;
	height: auto;
		margin-right: 50px;

}